.Rproj.user
.Rhistory

# contains raw IBD FASTQ files for dev purposes
data-raw/example-data/*
!generate_examples.R
!mds-sva.R
!mds-sva.png

# contains PUG-View files from Pubchem
data-raw/drug_annot/pug_view/views/*


# salmon indices
inst/indices

# drug effect size data (new users dl from s3)
inst/extdata/cmap_es_ind.rds
inst/extdata/l1000_es.rds

# ensdb annotation
inst/EnsDb
