.Rproj.user
.Rhistory

# contains raw IBD FASTQ files for dev purposes
data-raw/example-data/*
!generate_examples.R
!mds-sva.R
!mds-sva.png

data-raw/single-cell/example-data/*

# contains PUG-View files from Pubchem
data-raw/drug_annot/pug_view/views/*

# salmon/alevin indices
inst/indices

# drug effect size data (new users dl from s3)
inst/extdata/cmap_es_ind.rds
inst/extdata/l1000_es.rds

# ensdb annotation
inst/EnsDb

# txp2gene for alevin
data-raw/single-cell/alevin-args/*.gz
