<div class="tab-pane active" data-value="Contrasts" id="contrasts-tab">
  <div class="row">
    <div class="col-sm-6">
      <div class="well-form well-bg">
        <!-- analysis selection (e.g. sjia_pbmcs2) -->
        <div class="form-group selectize-fh">
          <div>
            <label class="control-label" for="selected_anal_contrasts">Select a dataset:</label>
            <div class="input-group">
              <div>
                <select id="selected_anal_contrasts"></select>
                <script type="application/json" data-for="selected_anal_contrasts" data-nonempty="">{}</script>
              </div>
              <div class="input-group-btn">
                <span title="Style settings">{{ show_settings }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- plot of cell clusters -->
    <div class="col-sm-6">
      {{ cluster_plot }}
    </div>
  </div>
  <hr/>
  <div class="row">
  </div>
</div>