<div class="tab-pane active" data-value="Single-Cell" id="tab-1823-1">
  <div class="row">
    <div class="col-sm-6">
      <div class="well-form well-bg">
        <!-- analysis selection (e.g. sjia_pbmcs2) -->
        <div class="form-group selectize-fh">
          <label class="control-label" for="selected_anal">Select a dataset:</label>
          <div class="input-group">
            <div>
              <select id="selected_anal"></select>
              <script type="application/json" data-for="selected_anal" data-nonempty="">{}</script>
            </div>
            <div class="input-group-btn">
              <span title="Toggle dataset integration">{{ show_integration }}</span>
              <span title="Style settings">{{ show_settings }}</span>
            </div>
          </div>
        </div>
          <!-- integrate datasets selection (e.g. ctrl and test datasets to combine) -->
          <div id='integration-form' class="hidden-form" style="display: none;">
            {{ integration_name }}
            {{ test_integration }}
            {{ ctrl_integration }}
            <label class="control-label" ></label> 
            <div class="validate-wrapper">
              {{ submit_integration }}
              <span class="help-block"></span>
            </div>
          </div>
          <br/>
          <!-- cluster (e.g. cell type) selection -->
          <div data-display-if="(input.rename_cluster + input.show_rename) % 2 == 0" data-ns-prefix="">
            <div class="form-group selectize-fh">
              <label class="control-label" for="selected_cluster">Show marker genes for:</label>
              <div class="input-group">
                <div>
                  <select id="selected_cluster"></select> 
                  <script type="application/json" data-for="selected_cluster">{}</script>
                </div>
                <div class="input-group-btn">
                  {{ show_contrasts }}
                  {{ show_rename }}
                </div>
              </div>
            </div>
          </div>
          <!-- input for renaming a cluster -->
          <div data-display-if="(input.rename_cluster + input.show_rename) % 2 != 0" data-ns-prefix="">
            <div class="form-group selectize-fh">
              <label class="control-label" for="new_cluster_name">New cluster name:</label>
              <div class="input-group">
                <input id="new_cluster_name" type="text" class="form-control shiny-bound-input" value="" placeholder="">
                <span class="input-group-btn">
                  {{ rename_cluster }}
                </span>
              </div>
            </div>
          </div>
          <br/>
          <!-- input for selecting the gene to show expression for -->
          <div class="form-group selectize-fh">
            <label class="control-label" for="gene">Show expression for:</label>
            <div class="input-group">
              <div>
                <select id="gene"></select> 
                <script type="application/json" data-for="gene">{}</script>
              </div>
              <span class="input-group-btn">
                {{ genecards }}
              </span>
            </div>
          </div>
          <br/>
          <!-- radio buttons to select group to show cells for -->
          <div data-display-if="output.is_integrated" data-ns-prefix="" class="selectize-fh">
            {{ selected_group }}
          </div>
          <br/>
        </div>
        </div>

        <!-- plot of cell clusters -->
        <div class="col-sm-6">
          {{ cluster_plot }}
        </div>
      </div>
      <hr/>
      <div class="row">
        <!-- plot of marker genes -->
        <div class="col-sm-6 col-lg-6 col-lg-push-6">
          {{ marker_plot }}
        </div>
        <!-- BioGPS plot -->
        <div class="col-sm-6 col-lg-6 col-lg-pull-6">
          {{ biogps_plot }}
        </div>
      </div>
    </div>