.selectize-dropdown-content {
  max-height: 300px;
}

/* for showing cluster colour in dropdown */
.input-swatch {
  height: 10px; 
  width: 10px; 
  border: 1px solid #54575a;
  display: inline-block; 
  margin-right: 5px;
}

.form-control {
  /* remove ugly box shadow from inputs */
  box-shadow: inset 0px 0px 0px 0px red;
}

/* INTEGRATION RELATED */

.well-form {
  /* border-top: 1px solid lightgray; */
  /* border-bottom: 1px solid lightgray; */
  border: 1px solid #e7e7e7;
  max-width: 400px !important;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 15px;
}

.hidden-form {
  padding: 10px 0px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #e7e7e7;
}

/* VALIDATION RELATED */

.validate-wrapper.has-error button {
  border-color: #a94442;
  color: #a94442;
  outline-color: #a94442;
}

.validate-wrapper.has-error .help-block {
  display: block;
}

.validate-wrapper .help-block {
  display: none;
  margin-top: 10px;
  text-align: center;
}




/* FORMS BESIDE BUTTONS */

.selectize-fh {
  max-width: 400px !important;
  /* same height for any input type */
  height: 79px; 
}


.input-group .selectize-input {
  border-top-right-radius: 0; 
  border-bottom-right-radius: 0;
}

.input-group-btn .dropdown {
  display: inline-block;
}

.input-group-btn .dropdown button,
.input-group-btn a.btn {
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0;
  border-left-width: 0px;
}

.input-group-btn .dropdown .caret {
  display: none;
}

.squashed-btn {
  border-radius: 0px;
}


.input-group-btn {
  vertical-align: top;
}

/* same height as selectize input  */
.input-group-btn .btn {
  min-height: 34px;
}

/* FULL HEIGHT BUTTON BESIDE INPUT */
.input-group.full-height-btn {
  width: calc(100% - 43.5px);
}

.full-height-btn .input-group-btn {
  width: 0px;
}

.full-height-btn button {
  position: absolute !important;
  top: 0;
  bottom: 0;
}

.full-height-selectize {
  height: 1px;
}





/* BRAND */
.brand-icons {
  background-color: white;
  padding: 5px 12px;
  border: 1px solid #ccc; 
  cursor: default;
}

.brand-icons i {
  color: cornflowerblue;
  font-size: 14px;
}


/* NAVBAR */
.navbar-default {
  background-color: white;
}

.navbar {
  margin-bottom: 50px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  padding: 5px 12px;
  margin: 9px 2px;
  border: 1px solid #ccc;
  background-color: white;
  color: cornflowerblue;
}
