

/* no y-scrollbar
.dataTables_scrollBody {
  overflow-y: hidden !important;
}
*/

/* CORRELATION PLOTS */
td.sim-cell {
  min-width: 180px !important;
  padding: 0px !important;
  position: relative;
}

.simplot {
  position: absolute;
  z-index: 1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.simplot text.x {
  fill: transparent;
  font: 10px Arial, sans-serif;
  text-anchor: middle;
}

.simplot circle {
  fill: transparent;
  stroke-width: 1.1px;
  stroke: rgba(0, 0, 0, 0.35);
}

.cor-point:hover {
  cursor: crosshair;
}

.cor-point:hover text.x,
.cor-point.clicked text.x {
  fill: #443;
}

.cor-point:hover circle,
.cor-point.clicked circle
 {
  fill: red;
  stroke: #443;
}

.simplot line.centerline {
  stroke: rgb(221, 221, 221);
  shape-rendering: crispEdges;
  stroke-width: 1px;
  stroke-dasharray: 3, 3;
}

.simplot.show-meanline line.meanline,
.simplot:hover line.meanline {
  stroke-width: 1px;
  stroke: dodgerblue;
  shape-rendering: crispEdges;
}


/* custom menu stuff */

.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  list-style: none;
  padding:0;
  margin: 0;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-menu li:hover {
  background-color: #DEF;
}

/* Rank labels */
.rank-label {
  border: 1px solid #ddd;
  color: #54575a;
  border-radius: 0;
  font-weight: 400;
  background-color: #fff;
}

td.dt-rank {
  padding: 0 !important;
  text-align: center;
}

/* column visibility buttons consistent with btn-default */

button.dt-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}


button.dt-button:active:not(.disabled),
button.dt-button:hover:not(.disabled) {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
  background-image: none !important;
}


button.dt-button:focus:not(.disabled) {
  color: #333;
  background-color: #d4d4d4 !important;
  border-color: #8c8c8c !important;
  background-image: none !important;
}

/* styling for hover table buttons */
button.dt-button.buttons-collection:active:not(.disabled),
button.dt-button.buttons-collection:hover:not(.disabled),
button.dt-button.buttons-collection:focus:not(.disabled),
button.dt-button.buttons-collection {
  color: #333 !important;
  background-color: white !important;
  border: none !important;
}

/* search box styling consistent with form-control */
.dataTables_filter input {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-shadow: inset 0px 0px 0px 0px red;
}

/* context menu */
#menu-title {
  border-bottom: 1px solid #ddd;
  pointer-events: none;
}

/* gene plot modal */

.modal-dialog.modal-lg {
  width: 98%;
}

.modal-dialog.modal-lg .modal-body {
  /* 550px plot plus extras */
  height: 760px;
}
