.path-name-option {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: calc(100% - 50px);
  padding-right: 10px;
}

.path-option-right {
  width: 50px;
  white-space: nowrap;
}

.path-fdr {
  color: #A0A0A0;
   text-align: right;
   display: inline-block;
}

.scroll-plot {
  overflow-x: hidden;
  overflow-y: visible;
  border: 1px solid #e7e7e7;
  height: 710px;
  padding: 10px;
}

.scroll-plot .js-plotly-plot .plotly svg a {
  fill: darkslategray;
}

.scroll-plot .js-plotly-plot .plotly svg a:hover {
  fill: cornflowerblue;
}

.scroll-plot::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scroll-plot::-webkit-scrollbar-track-piece  {
  background-color: #C2D2E4;
}

.scroll-plot::-webkit-scrollbar-thumb:horizontal {
  height: 30px;
  background-color: #286090;
}
